.App {
  text-align: center;
  color: #fff;
  background-color: #282c34;
  /* background-image: linear-gradient(to right, #5d5654, #a5a1a0); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titleStyle {
  margin-top: 50px !important;
}

.sectionStyle {
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: solid #fff;
}

@media (max-width: 768px) {
  .imageStyle {
    padding: 2rem;
  }
}

.cardStyle {
  background-color: #4c5057 !important;
  padding: 30px;
}

.cardTitleStyle {
  font-weight: bold !important;
}
